<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">El Rincón de Giorgio by Jordi Wild
			¡A rockear siempre!
			-----------------
			INSTAGRAM ➡ http://instagram.com/jordiwild8 - @jordiwild8
			TWITTER ➡ https://twitter.com/JordiWild - @jordiwild
			WILD STYLE (Mi marca de ropa y Merchandising) ➡ https://www.wildstylestore.com
			FACEBOOK ➡ https://www.facebook.com/ElRinconDeGiorgioOficial
			-----------------</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Naruto Uzumaki (うずまきナルト Uzumaki Naruto?) es el personaje protagonista del manga y anime Naruto, creado por el mangaka Masashi Kishimoto. En un principio, Kishimoto quería crear un personaje que resultara «simple y estúpido», aunque luego lo dotó con un «pasado oscuro» para, según sus propias palabras, volverlo único. El diseño inicial se modificó varias veces, cambiando constantemente su vestuario para darle un aspecto más llamativo y facilitar el proceso de dibujo.</p>
        </div>
    </body>
</html>

